.App {
  text-align: center;
  padding: 30px;
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.Search-input {
  display: flex;
  height: 30px;
  padding: 0px;
  width: 500px;
  text-align: center;
}

.Charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Chart {
  display: flex;
  padding: 20px;
  width: 250px;
  margin: 20px;
  background-color: rgba(240, 248, 255, 0.05);
}

.Chart:hover {
  border: solid 2px rgb(0, 0, 0);
}

.Chart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  font-weight: 700;
}

.Chart img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.Title {
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-text-stroke: rgb(0, 0, 0) 1px;
}

@media screen and (max-width: 725px) {
  .Search-input {
    width: 100%;
  }
}
